
@{
    ViewData["Title"] = "Index";
}

<h2>Types of Maps</h2>

<ul>
    <li>
        <a href="@Url.Action("OpenStreets", "Home")">
            Open Street
        </a>
    </li>
    <li>
        <a href="@Url.Action("BindingCollection", "Home")">
            Binding Collection
        </a>
    </li>
    <li>
        <a href="@Url.Action("ScatterSeries", "Home")">
            Scatter Series
        </a>
    </li>
    <li>
        <a href="@Url.Action("SymbolSeries", "Home")">
            Symbol Series
        </a>
    </li>
    <li>
        <a href="@Url.Action("ProportionalSymbolSeries", "Home")">
            Proportional Symbol Series
        </a>
    </li>
    <li>
        <a href="@Url.Action("ShapesSeries", "Home")">
            Shapes Series
        </a>
    </li>
    <li>
        <a href="@Url.Action("AreaSeries", "Home")">
            Area Series
        </a>
    </li>
    <li>
        <a href="@Url.Action("ContourSeries", "Home")">
            Contour Series
        </a>
    </li>
    <li>
        <a href="@Url.Action("MarkerTemplate", "Home")">
            Marker Template
        </a>
    </li>
    <li>
        <a href="@Url.Action("PolylineSeries", "Home")">
            Polyline Series
        </a>
    </li>

</ul>

